
* {
	box-sizing: border-box;
}

/*--------.container----*/

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container__background {
	max-width: 800px;
	margin: 50px auto;	
	position: relative;
}



.container__content {
	width: 686px;
	height: 391px;
	border-radius: 10px;
	background-color: #111a28;
	z-index: 1;
	position: absolute;
	top: 115px;
	right: 65px;
}


.container__logo {
	padding-top: 25px;
    padding-left: 20px;

}

.container__image {
	padding-top: 70px;
	padding-left: 35px;
	float: left;
	width: 60%;
}

/*----slide-nav--*/

.slide-nav {
    padding-top: 55px;
    padding-left: 140px;
    list-style: none;
    
   
}

.slide-nav li {
	float: left;
    font-size: 16px;
    margin: 3px;
}

.slide-nav button span{
	visibility: hidden;
	position: absolute;
}

.slide-nav button{
	position: relative;
	width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50px;
    border: 0;
    transition: all .3s ease;
}

.active{
	background-color: #1f273f; 
	
}

.button2 {
	background-color: #ffffff;
}


.button3 {
	background-color: #ed3333;
}

.button4 {
	background-color: #29e3ea;
}



.slide-nav button:hover {
	cursor: pointer;
	
}

/*---.container__content--information---*/


.container__information {
	
	float: right;
	width: 40%;
	color: #e1e1e1;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 100;
	
}

.container__subtitle {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 100;
	opacity: 0.54;
}

.container__stars {
	margin: 0;
    padding-left: 0;
    list-style: none;
    
}



.stars--first  {
	color: yellow;
	font-size: 15px;
	float: left;
	
}


.stars--second  {
	color: yellow;
	font-size: 15px;
	float: left;
	
}

.stars--third  {
	color: yellow;
	font-size: 15px;
	float: left;
	
}

.stars--four  {
	color: gray;
	font-size: 15px;
	opacity: 0.59;
	float: left;
	
}

.stars--four:hover {
	color: yellow;
	opacity: 1;
	
}

.stars--five  {
	color: gray;
	font-size: 15px;
	opacity: 0.59;
	float: left;
	
}
.stars--five:hover {
	color: yellow;
	opacity: 1;
}







.selection__size	{
	float: left;
	color: #e1e1e1;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	margin-right: -4px;
	width: 69px;
	height: 32px;
	padding-left: 5px;
	border: 1px solid #ffffff;
	background-color: #111a28;
	opacity: 0.26
}

.selection__qty {
	float: left;
	color: #e1e1e1;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	width: 69px;
	height: 32px;
	margin-left: 5px;
	padding-left: 5px;
	border: 1px solid #ffffff;
	background-color: #111a28;
	opacity: 0.26;
}

.selection__add {
	clear: both;
	color: #e1e1e1;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	width: 184px;
	height: 40px;
	border: 1px solid #ffffff;
	background-color: #4c525a;
	opacity: 0.26;
	margin-top: 35px;
}

